@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 10% auto;
}
  
.content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.6);
}
  
.card:hover .content {
    transform: rotateY(180deg);
}
  
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding-top: 25px;
    border-radius: 15px;
}
  
.front {
    color: #FFFFFF;
    background-color: rgb(14, 20, 26);
}
  
.back {
    background-color: rgb(14, 20, 26);
    color: #FFFFFF;
    transform: rotateY(180deg);
}

.back a {
    color: #FFFFFF;
    text-decoration: none;
}

.back a:hover {
    color: #255d92;
 }

 img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: #cccccc solid 4px;
    padding: 3.7px;
}

p {
    padding: 20px 0;
}

svg { 
    width: 28px;
    height: 28px;
    padding: 5px;
}

h1 {
    background: -webkit-linear-gradient(#eee, #255d92);
    background-clip: text;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}